# The deployed VeriTix Soroban contract ID on Stellar
CONTRACT_ID=

# Target network: "testnet" | "mainnet"
STELLAR_NETWORK=testnet

# Stellar account secret key used for signing transactions (keep this private!)
STELLAR_SECRET_KEY=

# Soroban RPC endpoint URL
SOROBAN_RPC_URL=https://soroban-testnet.stellar.org
